.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
/*.iml
/app/libs/andengine/*.iml
/app/libs/andenginebox2d/*.iml
/app/libs/andengine/build
/app/libs/andenginebox2d/build
/app/libs/tmxtiledmap/build
/app/*.iml
